/* top header */
.top__nav{
    background: var(--primary-color-3);
}

.dropdown-item.active, .dropdown-item {
    color: #fff;
    text-decoration: none;
    background-color: #e95420;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #e95420 !important;
    background-color: #e9ecef;
}


.top__nav .nav .nav-item a{
    color: var(--white-color);
}

.top__span{
    color: var(--primary-color-1);
    font-weight: bold;
}


/* top nav resposive code */
@media only screen and (min-width: 724px) {
    .banner{
        margin-top: -30px;
    }
  }

/* top nav resposive code */
@media only screen and (max-width: 724px) {
    .nav__top-media{
      display:none;
    }
  }

