/* top header */
.top__nav{
    background: var(--primary-color-3);
}

.top__nav .nav .nav-item a{
    color: var(--white-color);
}

.top__span{
    color: var(--primary-color-1);
    font-weight: bold;
}

/* top nav resposive code */
@media only screen and (max-width: 724px) {
    .nav__top-media{
      display:none;
    }
  }